/* Image gallery styling
-------------------------------------------------- */
.inline-thumbs {
  display: inline-block;
  margin-right: 10px;
}

.inline-thumbs img {
  height: 200px;
}

.imgStill {
  display: block;
}

.imgAnimate {
  display: none;
}

/* Give sections some vertical padding
-------------------------------------------------- */
section {
  padding: 15px 0;
}

/* Buttons have some margins
-------------------------------------------------- */
.buttonContainer button, .addGifInput {
  margin-top: 10px;
}
